/* Variables */
:root {
    --green: #406741;
    --orange: #d99939;
    --offwhite: #FAF3E0;
    --dark: #333;
}

/* Réinitialisation et base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--offwhite);
    color: var(--dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Navigation */
nav {
    background-color: var(--green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--orange);
}

/* User menu */
.user-menu {
    display: flex;
    align-items: center;
}

.user-menu span {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}

.user-menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-menu .login-btn , .register-btn {
    background-color: var(--orange);
    margin-right: 10px;
}

.user-menu .logout-btn {
    background-color: var(--orange);
}

.user-menu a:hover {
    opacity: 0.8;
}

/* Footer */
footer {
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer a {
    color: var(--orange);
    margin: 0 5px;
    text-decoration: none;
}
