/* Style général */
body {
    font-family: 'Georgia', serif; /* Police classique pour un style vintage */
    margin: 0;
    padding: 0;
    background-color: #e8f1f8; /* Bleu très clair pour le fond */
    color: #1a365d; /* Bleu foncé pour le texte */
}

h1 {
    color: #e8f1f8; /* Bleu marine pour les titres */
    font-family: 'Courier New', Courier, monospace; /* Police rappelant les vieux livres de recettes */
}


h2 {
    color: #1e4976; /* Bleu marine pour les titres */
    font-family: 'Courier New', Courier, monospace; /* Police rappelant les vieux livres de recettes */
}

a {
    color: #1a4971; /* Bleu marine pour les liens */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0d2b4d; /* Bleu très foncé au survol */
    text-decoration: underline;
}

/* Section Hero avec Carousel */
.hero {
    position: relative;
    overflow: hidden;
    height: 400px; /* Hauteur du carousel */
    background-color: #1e5b99; /* Bleu marine profond pour le carousel */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour le texte */
}

.hero p {
    font-size: 1.5em;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la zone */
    opacity: 0.7; /* Légère transparence pour les images */
}

/* Sections de contenu */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0; /* Ligne de séparation entre les éléments */
}

li:last-child {
    border-bottom: none;
}

/* Bouton pour les recettes */
.recipe-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1a4971; /* Bleu marine pour le bouton */
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.recipe-button:hover {
    background-color: #0d2b4d; /* Bleu très foncé au survol du bouton */
}