{% extends 'base.html.twig' %}

{% block title %}Créer votre nouvelle recette
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/formRecipe.css') }}">
{% endblock %}

{% block body %}
{% block content %}

	<div class="form-container">
		<h1>Créer une nouvelle recette</h1>

    {{ include('recipe/form.html.twig', {'button_label': 'Créer'}) }}


		<a href="{{ path('app_recipes') }}" class="back-link">Revenir à la liste des recettes</a>
	</div>
{% endblock %}
{% endblock %}

