{% extends 'base.html.twig' %}
{% block title%}
	Modifier une recette
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/test.css') }}">
{% endblock %}


{% block body %}
	{% block content %}

		<div class="form-container">
			<h1>Modifier une recette</h1>

			{{ include('recipe/form.html.twig', {'button_label': 'Modifier'}) }}


			<a href="{{ path('app_recipes') }}" class="back-link">Revenir à la liste des recettes</a>
		</div>
	{% endblock %}
{% endblock %}
