{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <section>
        {% for test in tests %}
            <div>
                <p>{{ test.test }}</p>
                <a href="">Voir détail</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
