{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<div><a href="{{ path('app_test_create') }}">Create</a></div>

    <section>
        {% for test in tests %}
            <div>
                <p>{{ test.test }}</p>
                <a href="{{ path('app_test_details', {id: test.id}) }}">Voir détail</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
